#container section {
    position: relative;
    height: auto;
}

#container section img {
    width: 100%;
}

.header-btn1, .header-btn2, .header-btn3, .header-btn4, .header-btn5 {position: absolute; top: 1.2vw;}
.header-logo {position: absolute; top: 0.9vw; width: 6.82vw; left: 5.209vw;}
.header-btn1 {width: 6.45vw; left: 60.1vw;}
.header-btn2 {width: 1.92vw; left: 68.59vw;}
.header-btn3 {width: 5.83vw; left: 72.86vw;}
.header-btn4 {width: 6.82vw; left: 80.78vw;}
.header-btn5 {width: 5.209vw; left: 89.58vw;}

.sec1-title {
    position: absolute;
    width: 69.27vw;
    top: 16.5vw;
    left: 5.209vw;
}
.main1-1, .main1-2, .main1-3, .main1-4, .main1-5, .main1-6, .main1-7, .main1-8, .main1-9 {
    position: absolute;
    height: 23.95vw;
    top: 29.14vw;
    left: 5.209vw;
    background-color: #111111;
    transition: 2s;
}
.main1-2.on {transform: translateX(16.14vw);}
.main1-3.on {transform: translateX(27.08vw);}
.main1-4.on {transform: translateX(36.97vw);}
.main1-5.on {transform: translateX(44.79vw);}
.main1-6.on {transform: translateX(52.6vw);}
.main1-7.on {transform: translateX(59.73vw);}
.main1-8.on {transform: translateX(67.6vw);}
.main1-9.on {transform: translateX(78.02vw);}

.main2-1, .main2-2, .main2-3, .main2-4, .main2-5 {
    position: absolute;
    width: 11.51vw;
    top: 60.3vw;
    left: 14.4vw;
    opacity: 0;
    transition: 1s;
}
.main2-1 {opacity: 1;}
.main2-2.on-default {transition-delay: 0.1s;}
.main2-3.on-default {transition-delay: 0.2s;}
.main2-4.on-default {transition-delay: 0.4s;}
.main2-5.on-default {transition-delay: 0.7s;}

/* .main3-1, .main3-2, .main3-3, .main3-4 {
    position: absolute;
    width: 20.72vw;
    top: 60.37vw;
    left: 39.8vw;
    opacity: 0;
    transition: 1s;
}
.main3-1 {opacity: 1;}
.main3-2.on-default {transition-delay: 0.1s;}
.main3-3.on-default {transition-delay: 0.2s;}
.main3-4.on-default {transition-delay: 0.7s;} */

.main3 {
    position: absolute;
    width: 20.72vw;
    top:60.37vw;
    left:39.8vw;
    overflow: hidden;
}
.main3-4 {
    position: relative;
    top: 0;
    left: 0vw;
    transform: translateX(-15.8vw);
    opacity: 1;
    transition: 1.7s;
    transition-timing-function: ease-out;
}

.main4-1, .main4-2 {
    position: absolute;
    width: 11.51vw;
    top: 60.3vw;
    left: 70.5vw;
    opacity: 0;
    transition: 1.7s;
}
.main4-1 {opacity: 1;}
.main4-2.on-default {transform: translateX(7vw);}

.sec1-txt1 {
    position: absolute;
    width: 75.52vw;
    top: 76.4vw;
    left: 11.66vw;
}
.sec1-txt2 {
    position: absolute;
    width: 86.14vw;
    top: 99vw;
    left: 5.209vw;
}
.sec1-txt3 {
    position: absolute;
    width: 31.14vw;
    top: 158.1vw;
    left: 5.209vw;
}

.maeil1 {
    position: absolute;
    width: 89.58vw;
    top: 166.86vw;
    left: 5.209vw;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.maeil1-1 {
    position: absolute;
    width: 59.68vw;
    top: 0vw;
    left: 0vw;
}
.maeil1-2 {
    position: absolute;
    width: 25.67vw;
    top: 0vw;
    left: 34.05vw;
}
.maeil1-2.on {transform: translateX(26.1vw); transition: 1.5s;}


.gubi-1 {
    position: absolute;
    width: 59.68vw;
    top: 203.86vw;
    left: 5.209vw;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.circle1 {
    position: absolute;
    top: 215.6vw;
    left: 74vw;
    width: 11.87vw;
    animation: rotate 20s linear infinite;
    transform-origin: 50% 50%;
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
.apex-1 {
    position: absolute;
    width: 59.68vw;
    top: 240.86vw;
    right: 5.209vw;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.wrap-halftone1 {
    position: absolute;
    width: 29.58vw;
    height: 18.07vw;
    top: 258.3vw;
    left: 5.309vw;
    overflow: hidden;
}
.halftone1 {
    position: absolute;
    width: 29.58vw;
    top: 0;
    left: 0vw;
    transform: translateY(10vw);
    opacity: 0;
    transition: 1.5s;
}
.tammuz-1 {
    position: absolute;
    width: 59.68vw;
    top: 277.86vw;
    left: 5.209vw;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.book-1 {
    position: absolute;
    width: 59.68vw;
    top: 277.86vw;
    right: 5.209vw;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.maeil1:hover, .gubi-1:hover, .apex-1:hover, .tammuz-1:hover, .book-1:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.footer {
    position: absolute;
    width: 39.58vw;
    top: 332.86vw;
    left: 5.209vw;
}
.footer-btn:hover {
    opacity: 0;
}



/* on 정의 */
.on-default {
    transform: none;
    opacity: 1;
}